<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Second</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/867c591370.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

  <div class="Notification">
   <% flash.each do |key, value| %>
   <%= content_tag :div, value, class: key %>
   <% end %>
  </div>
  <div class="containar p-4">
    <%= yield %>
  </div>

    <%= render "layouts/footer" %>
  </body>
</html>
